.App {
  text-align: center;
}


.block {
  width: 200px;
  height: 200px;
  margin: 25px;
  background-color: rgb(0, 0, 0);
  color: white;
  -webkit-animation: fadeinout 6s linear forwards;
  animation: fadeinout 6s linear forwards;
  opacity: 0;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes fadeinout {
  0%, 100% { opacity: 0; }
  10%, 90% { opacity: 1; }
}

@keyframes fadeinout {
  0%, 100% { opacity: 0; }
  10%, 90% { opacity: 1; }
}

