.App {
  text-align: center;
}


.block {
  width: 200px;
  height: 200px;
  margin: 25px;
  background-color: red;
  -webkit-animation: fadeinout 6s linear;
  animation: fadeinout 6s linear;
  opacity: 0;
}

@-webkit-keyframes fadeinout {
  10%, 20%, 30%, 40%, 50% { opacity: 1; }
}

@keyframes fadeinout {
  10%, 20%, 30%, 40%, 50% { opacity: 1; }
}

